<template>
    <h1>SurveyList</h1>
</template>

<script>
import Nav from "@components/Instructor/Nav.vue";

export default {
    components: {
        Nav,
    }
}
</script>

<style scoped>
    .background {
        
    }
</style>